@use "@styles/breakpoint";

// @use "@styles/color";
// @use "@styles/font";
// @use "@styles/space";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loadingIndicator {
  animation: spin 1s ease-in-out infinite;
}
