@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "styles/shadow";
@use "@styles/z-index";
@use "@styles/misc";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (min-width: breakpoint.$desktop) {
    width: 15.625rem;
    height: 100vh;
  }
}

.fixedContainer {
  composes: container;
  position: fixed;
  font: font.$text-md-medium;
  background-color: color.$white;
  box-shadow: shadow.$panel;
}

.header {
  height: misc.$header-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; // Sets first element to left, last element to right
  padding: space.$s2 space.$s4 space.$s1 space.$s2;
  padding-top: space.$s2;
  background-color: color.$white;
  z-index: z-index.$header;

  @media (min-width: breakpoint.$desktop) {
    height: unset;
    padding: space.$s4 0 0 0;
    flex-direction: column;

    // padding: space.$s8 space.$s4 space.$s6;
  }
}

.logo {
  padding: space.$s4;
  width: 133px;
  height: 30px;

  @media (min-width: breakpoint.$desktop) {
    width: 177px;
    height: 40px;
  }
}

.menuButton {
  @media (min-width: breakpoint.$desktop) {
    display: none;
  }
}

.currentOrganization {
  font: font.$text-md-medium;
  margin-top: space.$s2;
  padding: space.$s2 space.$s8;
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }

  @media (min-width: breakpoint.$desktop) {
    align-items: center;
    text-align: center;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  z-index: z-index.$header - 1;
  max-height: 0; // Set the initial max-height to 0
  overflow: hidden; // Hide the overflowing content
  transform: translateY(calc(-100%));
  transition:
    transform 300ms,
    max-height 300ms; // Animate the max-height

  &.isMobileMenuOpen {
    max-height: 100vh; // Set a large max-height when the menu is open
    transform: translateY(0);
  }

  @media (min-width: breakpoint.$desktop) {
    max-height: unset; // Reset to default on non-mobile screens
    height: 100%; // Make it full height (for bottom class)
    transition: none;
    transform: none;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: space.$s2 space.$s4;

  // padding-bottom: space.$s2;

  @media (min-width: breakpoint.$desktop) {
    padding-bottom: space.$s4;
  }
}

.linkList {
  composes: list;
  flex: 1;
}

.bottom {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: space.$s4;

  // Setting margin-top to auto will automatically take up space
  // and push this element to the bottom of the fixed height container.
  @media (min-width: breakpoint.$desktop) {
    margin-top: auto;
    margin-bottom: space.$s6;
  }
}
