@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

// @use "@styles/shadow";

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: space.$s2;
  border-radius: space.$s1;
  border: 1px solid color.$general-50;
  background-color: color.$white;
  font: font.$text-sm-medium;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;

  &:focus {
    outline: 4px solid color.$primary-40;
  }

  &:disabled {
    border-color: color.$general-50;
    color: color.$general-60;
    background: color.$general-30;
    cursor: not-allowed;
  }

  &:hover:enabled {
    color: color.$primary-100;
    border-color: color.$general-60;
  }
}

.selected {
  color: color.$primary-100;
  border-color: color.$primary-100;
  outline: 1px solid color.$primary-100;
}

.sm {
  height: 2.25rem;
  padding: 0.5rem 1.25rem;
  font: font.$text-sm-medium;
}

.md {
  height: 2.5rem;
  padding: 0.5rem 1.5rem;
  font: font.$text-md-regular;
}

.lg {
  height: 3rem;
  padding: 0.75rem 1.5rem;
  font: font.$text-md-regular;
}
