@use "@styles/space";

// @use "@styles/font";
// @use "@styles/color";
// @use "@styles/shadow";
// @use "@styles/breakpoint";

.card {
  padding: space.$s10;
  padding-top: space.$s6;
}

.headerRow {
  display: flex;
  flex-direction: row;
  align-items: center;

  // Push left element to left, right element to right
  justify-content: space-between;
}

.editButtons {
  display: flex;
  flex-direction: row;
}

.editButton {
  margin-left: space.$s2;
  max-height: 42px;

  // flex: none;
}

.editForm {
  margin-bottom: space.$s4;
  max-width: 30rem;
}

.editFormContainer {
  display: flex;

  // justify-content: flex-end;
}

.bottomButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: space.$s5;
}

.taskNewForm {
  margin: space.$s6 0;
}
