@use "@styles/space";
@use "@styles/font";
@use "@styles/color";

// @use "@styles/breakpoint";

.container {
  display: flex;
  flex-direction: column;
}

.textInput {
  margin-bottom: space.$s6;
}

.button {
  flex: 1;
}

.ruler {
  width: 100%;
  border-top: 1px solid color.$general-50;
  margin-top: space.$s6;
}

.text {
  text-align: center;
  font: font.$text-sm-regular;
  color: color.$general-70;
  margin-bottom: space.$s6;
}
