// @use "@styles/color";
// @use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";

// @use "@styles/misc";

.container {
  display: flex;
  flex-direction: column;
}

.headerRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: space.$s6;

  @media (min-width: breakpoint.$small) {
    flex-direction: row;
    margin-bottom: space.$s2;
  }
}

.header {
  margin-right: space.$s4;
}

.button {
  margin-left: space.$s4;
}

.buttons {
  display: flex;
  flex-direction: row;

  .button:first-child {
    margin-left: 0;
  }
}

.form {
  margin-bottom: space.$s6;
}
