@use "@styles/color";
@use "@styles/font";

// @use "@styles/shadow";
@use "@styles/space";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: space.$s2;
  border-radius: space.$s1;
  border: none;
  font: font.$text-sm-medium;
  cursor: pointer;
  box-sizing: border-box;
}

.icon {
  height: 100%;
}

.sm {
  height: 2.25rem;
  padding: space.$s2 space.$s4;
  font: font.$text-sm-medium;

  &.iconOnly {
    padding: space.$s2;
  }
}

.md {
  height: space.$s10;
  padding: space.$s2 space.$s4;
  font: font.$text-md-regular;

  &.iconOnly {
    padding: space.$s2;
  }
}

.lg {
  height: space.$s12;
  padding: space.$s3 space.$s5;
  font: font.$text-md-regular;

  &.iconOnly {
    padding: space.$s3;
  }
}

// Placeholder class
%disabled {
  color: color.$white;
  background: color.$general-50;
  cursor: not-allowed;
}

.primary.default,
.primary.iconOnly {
  background: color.$primary-100;
  color: color.$white;

  &:disabled {
    @extend %disabled;
  }

  &:focus {
    outline: 4px solid color.$primary-50;
  }

  &:hover:enabled {
    background: color.$primary-80;
  }
}

.secondary.default,
.secondary.iconOnly {
  background: color.$primary-40;
  color: color.$primary-100;

  &:disabled {
    @extend %disabled;
  }

  &:focus {
    outline: 4px solid color.$primary-50;
  }

  &:hover:enabled {
    background: color.$primary-30;
  }
}

.destructive.default,
.destructive.iconOnly {
  background: color.$red-100;
  color: color.$white;

  &:disabled {
    @extend %disabled;
  }

  &:focus {
    outline: 4px solid color.$red-50;
  }

  &:hover:enabled {
    background: color.$red-80;
  }
}

.destructive-secondary,
.destructive-secondary.iconOnly {
  background: color.$red-30;
  color: color.$red-100;

  &:disabled {
    @extend %disabled;
  }

  &:focus {
    outline: 4px solid color.$red-50;
  }

  &:hover:enabled {
    background: color.$red-40;
  }
}

.white,
.white.iconOnly {
  background: color.$white;
  color: color.$primary-100;
  border: 1px solid color.$general-50;

  &:disabled {
    @extend %disabled;
  }

  &:focus {
    outline: 4px solid color.$primary-40;
  }

  &:hover:enabled {
    background: color.$general-30;
  }
}
