@use "@styles/color";
@use "@styles/font";
@use "@styles/space";
@use "@styles/breakpoint";
@use "@styles/misc";

.container {
  height: 100vh;
  display: grid;
  grid-template: "navigation" auto "content" 1fr "footer" auto / 1fr;

  @media (min-width: breakpoint.$desktop) {
    grid-template: "navigation content" 1fr "navigation footer" auto / auto 1fr;
  }
}

.navigation {
  grid-area: navigation;
}

.main {
  display: flex;
  grid-area: content;
}

.contentContainer {
  flex: 1;
  margin-top: misc.$header-height;
  padding: space.$s8 space.$s3;

  // background: color.$white;

  @media (min-width: breakpoint.$desktop) {
    margin-top: space.$s3;
    padding: space.$s8;
    border-top-left-radius: space.$s10;
  }
}
