/* White */
$white: #fff;

/* Black */
$black: #000;

/* General */
$general-100: #131523;
$general-90: #333752;
$general-80: #5a607f;
$general-70: #7e84a3;
$general-60: #a1a7c4;
$general-50: #d7dbec;
$general-40: #e6e9f4;
$general-30: #f5f6fa;

/* Primary */
$primary-100: #1e5eff;
$primary-90: #336dff;
$primary-80: #4f81ff;
$primary-70: #608dff;
$primary-60: #89abff;
$primary-50: #b6cbff;
$primary-40: #d9e4ff;
$primary-30: #ecf2ff;

/* Secondary */
$secondary-100: #6e0bd4;
$secondary-90: #8125df;
$secondary-80: #9645e9;
$secondary-70: #a75ef1;
$secondary-60: #b97ff3;
$secondary-50: #d8b1ff;
$secondary-40: #e9d3ff;
$secondary-30: #f4e9fe;

/* Red */
$red-100: #f0142f;
$red-90: #f12b43;
$red-80: #f34359;
$red-70: #f45a6d;
$red-60: #f8919d;
$red-50: #fab3bc;
$red-40: #fcd5d9;
$red-30: #fde7ea;

/* Green */
$green-100: #06a561;
$green-90: #1fd286;
$green-80: #25e191;
$green-70: #48e9a5;
$green-60: #74efb9;
$green-50: #95f6cc;
$green-40: #c4f8e2;
$green-30: #daf9ec;

/* Yellow */
$yellow-100: #f99600;
$yellow-90: #ffc700;
$yellow-80: #ffd613;
$yellow-70: #ffe45f;
$yellow-60: #ffe582;
$yellow-50: #ffeca3;
$yellow-40: #fff4c9;
$yellow-30: #fff9e1;
