@use "@styles/color";

$xs: 0 1px 2px 0 rgba(16 24 40 / 5%);

/* stylelint-disable-next-line scss/dollar-variable-colon-space-after */
$lg:
  0 4px 6px -2px rgb(16 24 40 / 5%),
  0 12px 16px -4px rgb(16 24 40 / 10%);
$focus-primary: 0 0 0 4px color.$primary-40;
$focus-gray: 0 0 0 4px color.$general-40;
$focus-error: 0 0 0 4px color.$red-40;
